@font-face {
  font-family: "iconfont"; /* Project id 4509757 */
  src: url('//at.alicdn.com/t/c/font_4509757_d9eikghjjag.woff2?t=1713352688982') format('woff2'),
       url('//at.alicdn.com/t/c/font_4509757_d9eikghjjag.woff?t=1713352688982') format('woff'),
       url('//at.alicdn.com/t/c/font_4509757_d9eikghjjag.ttf?t=1713352688982') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqian1:before {
  content: "\e63d";
}

.icon-guanyu:before {
  content: "\e7e8";
}

.icon-fenlei:before {
  content: "\e811";
}

.icon-zhishi1:before {
  content: "\e813";
}

.icon-shouye1:before {
  content: "\e818";
}

.icon-dusu:before {
  content: "\e81a";
}

.icon-shiguan:before {
  content: "\e81b";
}

.icon-shen:before {
  content: "\e81c";
}

.icon-lianjie:before {
  content: "\e61e";
}

.icon-csdn:before {
  content: "\e638";
}

.icon-bingdu:before {
  content: "\e78a";
}

.icon-huaxue:before {
  content: "\e792";
}

.icon-huaxuepin:before {
  content: "\e793";
}

.icon-chuangxin:before {
  content: "\e794";
}

.icon-a-bingduduzhudusu:before {
  content: "\e795";
}

.icon-kexue:before {
  content: "\e796";
}

.icon-a-huaxueyiqihuaxueshiyan:before {
  content: "\e797";
}

.icon-shengwushiyan:before {
  content: "\e798";
}

.icon-xibao:before {
  content: "\e799";
}

.icon-kulou:before {
  content: "\e79a";
}

.icon-a-xibaodna:before {
  content: "\e79b";
}

.icon-a-shiyanhuaxuekeyan:before {
  content: "\e79c";
}

.icon-a-yuzhouxingxixingqiutaikong:before {
  content: "\e79d";
}

.icon-taikongwangyuanjing:before {
  content: "\e79e";
}

.icon-shiyan:before {
  content: "\e79f";
}

.icon-a-shiyanpingshiyanyanjiu:before {
  content: "\e7a0";
}

.icon-zhishi:before {
  content: "\e7a1";
}

.icon-xianweijing:before {
  content: "\e7a2";
}

.icon-dna:before {
  content: "\e7a3";
}

.icon-zhusheqi:before {
  content: "\e7a4";
}

.icon-gengduo:before {
  content: "\101a7";
}

.icon-shouye:before {
  content: "\101a8";
}

.icon-biaoqian:before {
  content: "\101a9";
}

.icon-gengduofenlei:before {
  content: "\101aa";
}
